@import './reset.css';
@import './common.css';
@import './font.css';

/* header */
.header{ position: fixed; top: 40px; left: 0; width: 100%; z-index: 10; }
.header .group-header{ display: flex; position: relative; height: 56px; }
.header .group-header .logo{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.header .group-header [class*="btn-"]{ display: flex; align-items: center; justify-content: center; padding: 0 10px; }
/* align-item을 사용하지않는 이유는 선택영역이 좁아져서 사용안함 */
.header .group-header .btn-cart{ margin-left: auto;}


.gnb{ display: none; } 
.gnb .group-nav{ position: relative; background: #fff; height: 45px; }
.gnb .group-nav .nav-list{ display: flex; gap: 12px; align-items: center; width: calc(100% - 60px); overflow-x: auto; height: 100%; padding-left: 15px; font-size: 16px; }
/* 마우스클릭으로는 스크롤이 안되고, 손으로 터치해야 스크롤됨! */
.gnb .group-nav .nav-list::-webkit-scrollbar { display: none;}
.gnb .group-nav .btn-toggle{ background-image: url(../images/btn_open_middle_bk.png); background-repeat: no-repeat; width: 28px; height: 28px; background-position: center; position: absolute; top: 50%; right: 16px; transform: translateY(-50%); /* background-size: 12px auto; background-position: center; */}
.gnb .group-nav .all-text{ display: none; align-items: center; position: absolute; top: 0; left: 0; background: #fff; height: 100%; font-size: 16px; color: #000; padding: 0 16px; }

.gnb .group-all{ display: none; border-top: 1px solid #dcdcdc; }
.gnb .group-all .nav-list{ display: flex; gap: 6px; flex-wrap: wrap; padding: 9px 15px; background: #f6f6f6;}
.gnb .group-all .nav-item a{ display: block; padding: 8px 17px; background: #fff; font-size: 14px; letter-spacing: -0.05em; line-height: 20px; color: #000; border: 1px solid #ebebeb; border-radius: 100px; }
.point{color: #E55427!important;}
.chk::after{ position: relative; top: -8px; right: -5px; width: 6px; height: 6px; border-radius: 50%; background: #ee5728; display: inline-block; content: ""; }


.ad-slide{ display: flex; height: 40px; color: #fff; font-size: 13px; font-weight: 400; }
.ad-slide .swiper-slide{ background: #030303; }
.ad-slide a{display: flex; justify-content: center; align-items: center; line-height: 40px; gap: 5px;}
.ad-slide .arrow::after{ display: block; content: ""; width: 24px; height: 16px; background-image: url(../images/arrow_wh.png); background-repeat: no-repeat; background-position: center; margin-top: -1px; /* vertical-align: middle; */}
.ad-slide strong{font-weight: 700;}
.ad-slide .color{color: #ee5728;}
.ad-slide .kakao{ display: flex; gap: 5px; align-items: center; }
.ad-slide .kakao::after{ display: block; content: ""; background-image: url(../images/kakao.png); background-repeat: no-repeat; width: 17px; height: 18px; }

/* 스크롤시 */
.header.fix{top: 0;}
.header.fix .group-header{background: #fff;}
.header.fix .group-header path{fill: #000;}
.header.fix .gnb{display: block;}

/* 헤더 전체메뉴 누를때 */
.gnb .group-nav.on .nav-list{visibility: hidden;}
.gnb .group-nav.on .btn-toggle{transform: rotate(180deg); top: 25%;}
.gnb .group-nav.on .all-text{display: flex;}

.dimmed{ display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 2; background: rgba(0,0,0,.5); }
.dimmed.on{ display: block; }
.side-nav{ position: fixed; top: 0; left: 0; width: 82%; height: 100%; z-index: 3; background: #fff; overflow-y: auto; transform: translateX(-100%); transition: 0.3s; }
.side-nav.on{ transform: translateX(0); }
.side-nav.on body{ overflow: hidden; height: 100%; }
.side-nav .close{ background: url(https://m.andar.co.kr/common/mo/icon_close.png); position: absolute; top: 38px; right: 16px; width: 24px; height: 24px; background-repeat: no-repeat; }

.side-nav .group-account{ display: flex; flex-direction: column; padding: 32px 16px 14px; border-bottom: 1px solid #ddd; }
.side-nav .group-account .btn-wrap{ display: flex; font-size: 14px; line-height: 14px; font-weight: 700; }
.side-nav .group-account .btn-wrap [class*="btn-"]{ padding: 10px 26px; border-radius: 4px; font-family: "Gilroy"; }
.side-nav .group-account .btn-login{ background: #0e0e0e; color: #fff; }
.side-nav .group-account .btn-join{ border: 1px solid #ccc; background: #fff; color: #333; margin-left: 6px; }
.side-nav .group-account p{ color: #77797E; font-size: 13px; letter-spacing: -0.05em; padding-top: 15px; }
.side-nav .group-account .bold-text{ font-weight: bold; }




/* group-gnb */
.group-gnb{padding: 23px 16px 11px;}
.group-gnb li{ position: relative; }
.group-gnb a{ display: block; line-height: 50px; color: #848484; }
.group-gnb .sub a{ line-height: 15px; padding: 11px 0; font-size: 15px; letter-spacing: -0.5px; font-weight: 400; }
.group-gnb .nav{ color: #333; }
.group-gnb .sub{ display: none; }
.btn-down{ position: absolute; top: 10px; right: 0; }
.btn-down::after{ background: url(https://m.andar.co.kr/common/mo/btn_open.png); background-repeat: no-repeat; display: block; content: ""; width: 30px; height: 28px; transition: .3s; }
.item.on .btn-down::after{ transform: rotate(180deg); }

.gray-line{ border-top:1px solid #ddd; padding: 18px 0 11px; }


.event-area{ padding: 0 0 30px; }
.event-area .event-title{ font-size: 17px; line-height: 21px; letter-spacing: -0.02em; color: #333; padding: 20px 0 16px; border-top:1px solid #ddd; }
.event-area .event li{ margin: 0 0 30px; }
.event-area .event img{ width: 100%; object-fit: cover; border-radius: 3px; }
.event-area .event .title{ display: flex; justify-content: space-between; align-items: center; font-size: 15px; color: #222; padding: 12px 0 6px; line-height: 18px; letter-spacing: -0.02em; }
.event-area .event .all{ font-size: 14px; line-height: 16px; font-size: 14px; color: #777; }
.event-area .event .desc{ color: #777; letter-spacing: -0.02em; font-weight: 400; font-size: 13px; line-height: 16px; }

.event-area .brand-tab{ display: flex; }
.event-area .brand-tab a{ position: relative; display: flex; justify-content: center; align-items: center; background: #f2f2f2; padding: 14px 0; width: 50%; font-size: 14px; line-height: 16px; letter-spacing: -0.02em; color: #777; }
.event-area .brand-tab a+a::before{ content: ""; display: block; background: #ccc; position: absolute; top: 50%; left: 0; width: 1px; height: 16px; transform: translateY(-50%); }

.recent-view{ padding: 0 0 70px; }
.recent-view .title{ color: #333; font-size: 16px; line-height: 20px; }
.recent-view ul{ display: flex; gap: 7px; padding: 20px 0; }
.recent-view li{ width: 25%; max-width: 70px; }
.recent-view img{ max-width: 100%; height: auto; }

.group-gnb .btn-all{ position: relative; display: inline-block; border: 1px solid #ccc; border-radius: 2px; padding: 10px 48px 10px 18px; box-sizing: border-box; color: #777; font-size: 13px; line-height: 18px; font-weight: 400; letter-spacing: -0.03em; }
.group-gnb .btn-all .btn-more{ position: absolute; content: ""; display: block; background: url(https://m.andar.co.kr/common/more_btn.png); background-repeat: no-repeat; background-size: 15px auto; background-position: right center; width: 25px; height: 15px; top: 10px; right: 20px; }









/* footer */
.footer p{font-size: 18px; line-height: 21px; font-weight: 700;}
.footer span{font-size: 13px; line-height: 16px; font-weight: 400;}

.footer{ margin: 0; background: #fafafa; padding: 30px 16px 30px; color: #555; }
.footer .logo{width: 90px; padding-bottom: 10px;}
.footer .desc{font-size: 14px; line-height: 16px; font-weight: 400;}

.footer .call-area{padding: 24px 0 20px;}
.footer .title{ font-size: 13px; line-height: 16px; font-weight: 500; padding-bottom: 5px; }
.footer .tel{display: block; padding-bottom: 10px; font-size: 18px; line-height: 21px; font-weight: 700;}
.footer .time{font-size: 13px; line-height: 16px; font-weight: 400;}

.footer .sns-area ul{ display: flex; align-items: center; gap: 25px; }
.footer .sns-area [class*="ic-"] img{ height: 22px; }

.footer .policy-area{padding: 12px 0;}
.footer .policy-area ul{display: flex; flex-wrap: wrap; font-size: 12px; color: #777; line-height: 1.7; font-weight: 700; letter-spacing: -0.5px; }
.footer .policy-area li{ position: relative; padding: 4px 0px; padding-right: 10px; margin-right: 5px;}
.footer .policy-area li::after{ content: ""; display: block; position: absolute; width: 1px; height: 10px; background: #ccc; top: 50%; transform: translateY(-50%); right: 0; }
.footer .policy-area li:last-child::after{ display: none; }

.footer .addr-area span{ font-size: 11px; font-weight: 400; line-height: 13px; color: #777; }
.footer .addr-area .company span::after,.footer .addr-area .tell span::after{ content: ""; display: inline-block; width: 1px; height: 10px; background: #ccc; margin: 0 10px; }
.footer .addr-area .company span:last-child:after,.footer .addr-area .tell span:last-child:after{ display: none; }

.copy{ display: block; padding-top: 30px; color: #777; font-size: 11px; line-height: 13px; letter-spacing: -0.02em; font-weight: 700; }
.copy span{ font-weight: 300; font-size: 11px; line-height: 13px; }

.footer .mark-area{ display: flex; align-items: center; gap: 22px; margin-top: 24px; }
.footer .mark-area li a{ display: block; width: 45px; }
.footer .mark-area li:nth-child(2) a{ width: 36px; }
.footer .mark-area li:nth-child(3) a{ width: 27px; }





/* 56:19
fix인 영역을 none-> block으로 바꿔
화살표는 고정으로 박아두기
 */
/* side-search */
.side-search{ display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background: url(https://m.andar.co.kr/web/andar/img/mobile/search-bg/231108.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center; z-index: 99; }
.side-search .search-close{ background: url(https://m.andar.co.kr/_wisa/img/button/close_search.png); background-repeat: no-repeat; background-size: 10px auto; position: absolute; top: 18px; left: 40px; width: 10px; height: 18px; }
.side-search form{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 80%; border-bottom: 2px solid #fff; padding-bottom: 7px; }
.side-search fieldset{ border: none; display: grid; align-items: center; }
.side-search input{ background: none; border: none; font-size: 20px; color: #fff; outline: none; }
.side-search input::placeholder{ color: #fff; font-weight: 400; }
.side-search .search-go{ position: absolute; right: 0; width: 19px; height: 19px; background: url(https://m.andar.co.kr/_wisa/img/button/search.png); background-repeat: no-repeat; background-position: center center; background-size: 19px auto; }
.side-search.on{ display: block; }



/* quick-menu */
.quick-menu{
    position: fixed;
    width: 50px; 
    bottom: 50px; right: 10px;
    border: 1px solid #e9e9e9;
    background-color: rgba(255, 255, 255, .7);
    z-index: 99;
    transition: all .4s .3s;
    visibility: hidden;
    opacity: 0;
}
.quick-menu.on{
    visibility: visible;
    opacity: 1;
}
.quick-menu .btn-chat{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
    font-size: 11px;
    border-bottom: 1px solid #e9e9e9;
    color: #595959;
}
.quick-menu .btn-chat img{
    padding-bottom: 10px;
}
.quick-menu .btn-gotop{
    padding: 15px;
}